<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>

        .blocks {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .block {
            height: 100px;
            width: 100px;
            background-color: lightblue;
            border-radius: 10%;
            border: 1px solid black;
        }
        h1 {
            text-align: center;
            margin: 60px;
        }

    </style>
</head>
<body>

    <h1>Welcome</h1>

    <div class="blocks">
            {% for x in range(times): %}
                <div class="block" style="background-color: {{color}};"></div>
            {% endfor %}
    </div>


    
</body>
</html>